.slider-section {
  position: relative;
}

.slider-section .arrowCustom {
  display: none;
}

.slider-section .custom-pagination {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 30px !important;
  left: 0px;
  right: 0px;
  padding: 0px;
  width: 100%;
  height: 2.99px !important;
  z-index: 10;
  background: transparent;
  overflow: hidden;
  gap: 15px;
  border: 0px !important;
  max-width: 12.91175rem;
  margin: 0 auto;
}
@media (min-width: 990px) {
  .slider-section .custom-pagination {
    height: 0.375rem !important;
    max-width: min(76.25rem, 80%);
    bottom: 0 !important;
  }
}

.slider-section .custom-pagination .swiper-pagination-bullet {
  height: 2.99px !important;
  flex: 1;
  height: 100%;
  background: #58595b;
  transition: background 0.3s ease;
  border-radius: 40px;
  margin: 0px !important;
  opacity: 1;
  border: 0px !important;
}
@media (min-width: 990px) {
  .slider-section .custom-pagination .swiper-pagination-bullet {
    height: 0.375rem !important;
  }
}

.slider-section .custom-pagination .swiper-pagination-bullet-active {
  background: #fff;
  border: 0px !important;
}

@media (min-width: 990px) {
  .slider-section .arrowCustom {
    display: block;
    position: absolute;
    width: 50px;
    aspect-ratio: 1;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 0 auto;
  }

  .slider-section .arrowCustom--prev {
    background-image: url("/images/arrow-simple-prev.svg");
    left: 0;
    right: calc(90%);
  }

  .slider-section .arrowCustom--next {
    background-image: url("/images/arrow-simple-next.svg");
    left: calc(90%);
    right: 0;
  }
}

@media (min-width: 90rem) {
  .slider-section .arrowCustom--prev {
    right: calc(76.25rem + 50px + 57px);
  }

  .slider-section .arrowCustom--next {
    left: calc(76.25rem + 50px + 57px);
  }
}

@media (max-width: 768px) {
  .slider-section .custom-pagination .swiper-pagination-bullet {
    min-width: 46.8946px;
    min-height: 2.99102px;
  }
}