/* Desktop: one row, 3 columns */
@media (min-width: 1250px) {
  .firstImage {
    grid-column: 1 !important;
    grid-row: 1 !important;
    height: 290px;
  }

  .secondImage {
    grid-column: 2 !important;
    grid-row: 1 !important;
    height: 290px;
  }

  .thirdImage {
    grid-column: 3 !important;
    grid-row: 1 !important;
    height: 290px;
  }
  .main-container {
    display: flex;
    justify-content: center;
  }

  .main-grid {
    width: max-content;
  }

  .firstImage,
  .secondImage,
  .thirdImage {
    max-width: 495px;
  }
}

/* Mobile: 2 columns, 2 rows layout */
.secondImage {
  grid-column: 2;
  grid-row: 1;
  height: 100%;
}

.thirdImage {
  grid-column: 2;
  grid-row: 2;
  height: 100%;
}

.firstImage {
  grid-column: 1;
  grid-row: 1 / 3; /* spans 2 rows */
}
