.flex-fuel-hev {
  position: relative;
}

/* =============== PAGINATION BULLETS =============== */
.flex-fuel-hev .custom-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  padding: 0px 15px;
  width: 100%;
  height: 6px !important;
  z-index: 10;
  background: transparent;
  overflow: hidden;
  gap: 4px;
  border: 0px !important;
  box-sizing: border-box;
}

@media (min-width: 1250px) {
  .flex-fuel-hev .custom-pagination {
    display: none;
  }
}

.flex-fuel-hev .custom-pagination .swiper-pagination-bullet {
  height: 3px !important;
  flex: 1;
  max-width: 36px;
  background: #58595b;
  transition: background 0.3s ease;
  border-radius: 40px;
  margin: 0px !important;
  opacity: 1;
  border: 0px !important;
}

.flex-fuel-hev .custom-pagination .swiper-pagination-bullet-active {
  background: #fff;
  border: 0px !important;
}

.swiper-wrapper > .swiper-slide {
  height: auto;
}

@media (min-width: 1250px) {
  .swiper-wrapper > .swiper-slide {
    height: auto;
  }
}
