.vehicles-tabs {
  .swiper {
    z-index: unset;
  }
  .swiper-wrapper {
    display: grid;
    grid-auto-flow: column;
    z-index: unset;
  }
}

.tabs__item {
  border-bottom-width: 4px;
  --amplify-components-tabs-item-border-color: #e0e0e0 !important;
  --amplify-components-tabs-item-active-border-color: #000000 !important;
}

.vehicles-slide {
  display: flex;
  justify-content: center;
}
@media (min-width: 1250px) {
  .vehicles-slide {
    display: block;
    width: auto;
  }
}

.arrowCustom {
  width: 3.4375rem;
  padding: 10px 15px 18px;
  border-radius: 20px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
}
.amplify-button:focus,
.amplify-button:active {
  color: black !important;
  font-size: 0.875rem !important;
}
