.main-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.main-container {
  width: 100%;
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
