.comoParticipar-slider {
  width: 100%;
  @media (min-width: 768px) {
    width: 100%;
  }
  @media (min-width: 1024px) {
    width: 1000px;
  }
  @media (min-width: 1366px) {
    width: 1260px;
  }
}

/* 
base: "100%",
medium: "100%",
xl: "1000px",
xxl: "1260px", */
