.toggle-switch {
  --toggle-width: 1.4375rem;
  --toggle-height: 0.75rem;
  --thumb-size: 0.375rem;
  --toggle-padding: 0.125rem;
  --transition-duration: 200ms;

  position: relative;
  display: inline-flex;
  align-items: center;
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: calc(var(--toggle-height) / 2);
  cursor: pointer;
  border: 0.125rem solid grey;
  transition: all var(--transition-duration) ease-in-out;
}

.toggle-switch[data-state="checked"] {
  border-color: black;
}

.toggle-switch__thumb {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: var(--toggle-padding);
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 50%;
  background-color: grey;
  transition: all var(--transition-duration) ease-in-out;
}

.toggle-switch[data-state="checked"] .toggle-switch__thumb {
  left: calc(100% - var(--toggle-padding) - var(--thumb-size));
  background-color: black;
}
