.image-gallery-preview {
  .css-1v50njv-singleValue {
    text-align: center;
  }
  .swiper {
    z-index: 0;
    width: 100%;
  }

  .custom-pagination {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.88rem, 1fr));
    grid-auto-rows: 0.1869rem;
    gap: 0.3887rem;
    justify-content: center;
    bottom: 0;
    top: 0;

    @media (min-width: 80rem) {
      grid-template-columns: repeat(auto-fit, minmax(4.11425rem, 1fr));
      grid-auto-rows: 0.25rem;
    }
  }

  .swiper-pagination-bullet {
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    margin: 0 !important;
  }

  .swiper-pagination-bullet-active {
    background-color: black;
  }

  .amplify-tabs__list {
    position: relative;
  }

  .amplify-tabs__list::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.25rem;
    left: 0;
    top: calc(100% - 0.125rem);
    background-color: #f6f6f6;
  }

  .amplify-tabs__item {
    border: none;
  }

  .amplify-tabs__item--active {
    border-bottom: 0.25rem solid #d42224;
  }
}
