.blue-shape {
  background-image: url("/images/blue-shape-bg-mobile.svg");
  width: 375px;
  height: 216px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
  /* transform: translateY(-26px); */
  padding: 48px 0 0;
  @media (min-width: 768px) {
    background-image: url("/images/blue-shape-bg.svg");
    width: 564px;
    height: 316px;
    /* transform: translateY(-42px); */
    padding: 62px 0 0;
  }
}
