.banner-slider-container {
  position: relative;
}

.banner-slider-container .swiper {
  height: 100%;
}

.banner-slider-arrow {
  display: none;
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-slider-button-prev.banner-slider-arrow {
  background-image: url("/images/arrow-simple-prev.svg");
  left: 10%;
  display: none;
}

.banner-slider-button-next.banner-slider-arrow {
  background-image: url("/images/arrow-simple-next.svg");
  right: 10%;
  display: none;
}

.banner-slider-pagination-bullet {
  background: #fff;
  opacity: 0.5;
}

.banner-slider-pagination-bullet-active {
  background: #ff0000;
  opacity: 1;
}

.banner-slider-pagination {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5.8px !important;
  left: 0;
  right: 0;
  padding: 0;
  height: 0.1875rem !important;
  z-index: 10;
  background: transparent;
  overflow: hidden;
  gap: 0.3837rem;
  bottom: 1.25rem !important;
  width: 70% !important;
  margin: auto;
}

.banner-slider-pagination .swiper-pagination-bullet {
  height: 0.1875rem !important;
  flex: 1;
  height: 100%;
  background: #58595b;
  transition: background 0.3s ease;
  border-radius: 2.5rem;
  margin: 0 !important;
  opacity: 1;
  border: 0 !important;
}

.banner-slider-pagination .swiper-pagination-bullet-active {
  background: #fff;
  border: 0 !important;
}

@media (min-width: 62rem) {
  .banner-slider-arrow {
    display: block;
  }
  .banner-slider-pagination,
  .banner-slider-pagination .swiper-pagination-bullet {
    height: 0.375rem;
  }

  .banner-slider-pagination {
    width: 100% !important;
    bottom: 0.375rem !important;
    border: 0 !important;
    gap: 0.95rem;
  }
}
