/* Modal Styles */
.concessionaire-modal {
  position: relative;
  padding: 0;
  height: 100vh;
  max-width: 100%;
  max-height: 952px;
  position: fixed;
  top: 0px;

  z-index: 999999999;
  @media (width >= 768px) {
    left: calc(50% - 420px);
  }
  @media (width >= 1024px) {
    margin: 1.5625rem;
    height: calc(100vh - 3.125rem);
  }
}
.concessionaire-modal:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.concessionaire-modal__content-wrapper {
  background-color: #161b1e;
  align-items: flex-start;
  color: #fff;
  height: 100%;
}

.concessionaire-modal__content {
  background-color: #161b1e;
  padding: 22px 15px 22.86px;
  color: #fff;
  position: relative;
  /* max-height: 952px; */
  width: 800px;
  height: 100vh;
  overflow-y: auto;
  @media (width >= 1024px) {
    height: calc(100vh - 3.125rem);
  }
}

.concessionaire-modal__header {
  flex-direction: column;
  margin: 23px 0 0 0;
  gap: 0;
  margin-bottom: 1.5rem;
}

.concessionaire-modal__pre-title {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: var(--font-toyotaDisplay);
  line-height: 140%;
  letter-spacing: 0px;
  text-align: left;
}

.concessionaire-modal__title {
  margin-top: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  font-family: var(--font-ToyotaType-Regular);
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}

.concessionaire-modal__subtitle {
  margin-top: 4px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  font-family: var(--font-ToyotaType-Regular);
  line-height: 100%;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
}

.concessionaire-modal__maps-link-container {
  margin: 4px 0 0;
}

.concessionaire-modal__maps-link {
  background-color: #fff;
  background-clip: text;
  color: #fff !important; /* Important to override link color */
  border: none;
  padding: 0;
  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-decoration-line: underline;
}

.concessionaire-modal__section-title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  font-family: var(--font-ToyotaType-Regular);
  line-height: 140%;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
}

.concessionaire-modal__schedule-item {
  justify-content: space-between;
}

.concessionaire-modal__schedule-day,
.concessionaire-modal__schedule-time,
.concessionaire-modal__contact-item-value {
  margin-top: 8px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  font-family: var(--font-ToyotaType-Regular);
  line-height: 100%;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
}

.concessionaire-modal__contact-item-title {
  margin-top: 12px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-family: var(--font-ToyotaType-Regular);
  line-height: 100%;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
}

.concessionaire-modal__contact-item-title.first {
  margin-top: 32px;
}

.concessionaire-modal__contact-item-value.phone-2 {
  margin-top: 5px;
}

.concessionaire-modal__website-link {
  margin-top: 8px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: var(--font-roboto);
  line-height: 100%;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  text-decoration-line: underline;
}

.concessionaire-modal__help-button-container {
  justify-content: center;
  margin-top: 36px;
}

.concessionaire-modal__help-button {
  font-family: var(--font-roboto);
  min-width: 203px;
  max-height: 20px;
  font-size: 14px;
  line-height: 142.857%;
  letter-spacing: 0.1px;
}

.concessionaire-modal__close-btn {
  color: #fff;
  margin: 12px 13px 0 0;
  cursor: pointer;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .concessionaire-modal__title,
  .concessionaire-modal__subtitle {
    text-align: center;
  }
}

/* Extra extra large devices (larger desktops, 1536px and up) */
@media (min-width: 1536px) {
  .concessionaire-modal__content {
    padding: 2rem;
    max-height: 1105px;
  }
  .concessionaire-modal__title {
    font-family: var(--font-toyotaDisplay);
  }
  .concessionaire-modal__subtitle {
    padding: 0 30%;
  }
  .concessionaire-modal__section-title {
    font-family: var(--font-toyotaDisplay);
  }
  .concessionaire-modal__schedule-day,
  .concessionaire-modal__schedule-time {
    font-family: var(--font-toyotaDisplay);
  }
  .concessionaire-modal__contact-item-title {
    font-family: var(--font-ToyotaType-Regular);
  }
  .concessionaire-modal__contact-item-value {
    font-family: var(--font-toyotaDisplay);
  }
  .concessionaire-modal__website-link {
    font-family: var(--font-toyotaDisplay);
  }
  .concessionaire-modal__help-button {
    line-height: 125%;
  }
}
