body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.p-8 {
  padding: 2rem;
}

h1 {
  color: #333;
  margin-bottom: 1.5rem;
}

h2 {
  color: #444;
  margin-bottom: 1rem;
}

h3 {
  color: #555;
  margin-bottom: 0.5rem;
}

h4 {
  color: #666;
  margin-bottom: 0.5rem;
}

.text-gray-600 {
  color: #666;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.border {
  border: 1px solid #ddd;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.bg-gray-50 {
  background-color: #f7f7f7;
}

.bg-gray-900 {
  background-color: #333;
}

.text-white {
  color: #fff;
}

.overflow-x-auto {
  overflow-x: auto;
}

pre {
  white-space: pre-wrap; /* Wrap long lines */
  word-wrap: break-word; /* Break long words */
}

.props {
  padding: 40px;
}

.component {
  margin-bottom: 40px;
  background-color: #efefef;
}
.mobile-device-mockup {
  width: 375px; /* Ancho típico de un móvil */
  height: 667px; /* Alto típico de un móvil */
  border: 12px solid #1a1a1a;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
  background: #f0f0f0;
  box-shadow:
    0 0 0 1px #ccc,
    0 10px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.mobile-device-mockup:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 20px;
  background: #1a1a1a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 10;
}

.mobile-screen {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: white;
  padding: 10px;
  box-sizing: border-box;
}
