.play-pause-btn {
  width: 3.4375rem;
  position: absolute;
  bottom: 85px;
  right: 10%;
  background-color: #fff;
  color: #1e1e1e;
  border: none;
  line-height: 10px;
  padding: 10px 15px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #ff0000;
  opacity: 1;
}

.custom-pagination {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 6px !important;
  top: unset !important;
  left: 0px;
  right: 0px;
  padding: 0px;
  width: 100%;
  height: 6px !important;
  z-index: 10;
  background: transparent;
  overflow: hidden;
  gap: 15px;
  border: 0px !important;
}

.custom-pagination .swiper-pagination-bullet {
  height: 6px;
  flex: 1;
  height: 100%;
  background: #58595b;
  transition: background 0.3s ease;
  border-radius: 40px;
  margin: 0px !important;
  opacity: 1;
  border: 0px !important;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #fff;
  border: 0px !important;
}

@media (width < 768px) {
  .custom-pagination .swiper-pagination-bullet {
    max-width: 45.4px;
    max-height: 3px;
    margin-bottom: 21px !important;
  }

  .custom-pagination {
    justify-content: center;
    bottom: 21px !important;
  }

  .slide-button {
    max-width: 175px;
    max-height: 40px;
    margin-bottom: 83px;
  }

  .play-pause-btn {
    bottom: 82px !important;
    right: 15px;
  }
}

.responsive-iframe {
  width: 100%;
  height: 100%;
  border: none;
  max-width: 100%;
}

@media (min-width: 1250px) {
  .responsive-iframe {
    height: 960px !important;
  }
}

.swiper-slide.swiper-slide-active {
  z-index: 1;
}

.iframe .video {
  width: 100% !important;
}